body, html {
	text-align:left;
}
.header {
	padding-top:13px;
	margin-bottom:4px;
	background-color:#fff;
    position:fixed;
}
.header .span4 {
	margin-top:60px;
	text-align:right;
}
.btn-group {
	text-align:left;
}
hr {
	margin-top:110px;
	margin-bottom:0;
}


#leftMenu {
	border:1px solid #ddd;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border-bottom:none;
}
#leftMenu .accordion-group {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}    

#leftMenu .accordion-heading {
    list-style-type:none;
	border-bottom:1px solid #ddd;
	line-height:18px;
}  

#leftMenu .accordion-heading .active {
	background-color:#eee;
}
.accordion-outer {
    position:fixed; padding-top:140px;
}
.content-outer {
    padding-left:25%; padding-top:140px;
}


@media (max-width: 979px) {
  .accordion-outer{
    padding:0;
    position:relative;
  }
.content-outer {
    padding:0;
}
.header {
    position:relative;
}
.header .span4 {
	margin:0;
}
hr {
	margin:0;
}
}