a {
	text-decoration: none;
}

a:hover {
	color: #c00;
}

input, textarea {
	color: #03c;
	border: 1px solid #03c;
}

#errorMessage {
	font-size: Large;
	color: #c00;
	font-family: arial,helvetica,sans-serif;
}

#listMessages {
	height: 400px;
	width: 350px;
	overflow: auto;
}